/*Header*/
header {
    padding: 20px 0;
}

header .row{
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header .link{
    padding: 0 20px;
    margin: 0;
    font-size: 18px;
}

/*section jumbotron*/
.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    color: #ffffff;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.jumbotron h1 {
    font-size: 50px;
}

/*secition container*/

.col-sm-6 {
    color: #000000;
    text-align: center;
    margin: 0 0 30px 2px;
    border: solid 2px none;
    padding: 25px;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(4,117,192,1) 41%, rgba(9,9,121,1) 100%);
}

section a {
    color: #000000;
    font-size: 30px;
}

section h2 {
    text-decoration: underline;
}

section a:hover {
    text-decoration: none;
    font-size: 32px;
}

/*footer*/
footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8{
    display: flex;
    justify-content: flex-end;
}
